{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Promo overview</h1>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row add-button">
    	<div class="col-md-12">

    		<a data-bb="prompt" href="{{path('promoOverview')}}" class="btn btn-primary">Add Promo</a>
    	</div>
    </div>
    {% endif %}

	<table id="adminPromoOverview" border="0" cellspacing="5" cellpadding="5" class="display table" width="100%" data-toggle="datatable" >
	 	<thead>
            <tr>
		 		<th>#</th>
		 		<th>Code</th>
		 		<th></th>
            </tr>
	 	</thead>
	 	<tbody>
	 		{% for promo in promos %}
	 		<tr>
	 			<td>{{ promo.id }}</td>
	 			<td>{{ promo.code }}</td>
	 			<td><a href="{{path('removePromo', {id:promo.id})}}" class="btn btn-danger">Remove</a></td>
	 		</tr>
			{% endfor %}
	 	</tbody>
	</table>
{% endblock %}

