<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">
        Tijdschrift Voor Geneeskunde - {% trans %}Design & development{% endtrans %}: KHLeuven
        </p>
    </div>
</footer>
