<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">
        Tijdschrift Voor Geneeskunde - {% trans %}Design & development{% endtrans %}: KHLeuven
        </p>
		<p class="text-center text-muted">
			<a href="{{path('homepage')}}" class="text-center text-muted"><img src="{{ asset('images/logo2.png', version='1.0') }}" /></a>
		</p>
    </div>
</footer>
