{% extends '::layout.html.twig' %}

{% block content %}
<div class="col-sm-12">
    <div class="jumbotron">
		<div class="row">
            <div class="col-md-4">
            </div>
		    <div class="col-md-5">
                <p>{{ 'Current amount of subscribers' | trans }}:{{count}}</p>
		        <a href="{{path('pagePrinterDownload')}}" class="btn btn-primary">
		            {% trans %}Download list subscribers{% endtrans %}</a>
		    </div>
		</div>
	</div>
</div>

{% endblock %}
