.body{
    background-color: #75c1d4;/*#4EE3DC*/
}

.beginpage{
    padding-top: 50px;
}

.content{
    background-color: #fff;
    position: relative;
    height: auto;
    /*padding-left: 250px;*/
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 50px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        border-top-color: #004050;
        background-color: #004050;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        z-index: 2; 
        color: #75C1D4;       

    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus,
    .side-nav li a:active,
    .current {
        outline: none;
        background-color: #FFF; 
    }

}

.side-nav>li>ul {
    margin-top: 2px;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #004050; /*999*/
}


.navbar.navbar-inverse.navbar-fixed-top {
    height: 100px;
    background-color: #004050;  
    z-index: 1;
    border-bottom-color: #004050;
}

.container{
    width: 100%;
    left: 200px;
}

.collapse.navbar-collapse.pull-right{
    margin-top: 25px;
}

.beginpage.container{
    margin-top: 100px;
    width: 75%;
    left: 10%;
}

.nav.navbar-nav.side-nav{
    margin-top: 50px;
    width: 200px;
}

.banner-title{
    color: #fff;    
}

.banner-subtitle{
    color: #fff;
    padding-left: 52px;
}

.notice-panel-container{
    border-radius: 25px;
    border: 2px solid #004050;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    
}

.notice-panel{
    padding: 5px; 
    color: #000;
}

.notice-panel-header{
    border-radius: 25px;
    border: 2px solid #004050;
    padding: 20px;
    background-color: #004050;
    color: #FFF;   
}

.notice-panel-title{
    width: 40%;
}

.notice-panel-body{

}

.navbar-header{
    padding-left: 200px;
}

/*#004050;
75C1D4*/