<div class="collapse navbar-collapse pull-right">
<ul class="nav navbar-nav">
    <li>
    <a href="{{path('fos_user_registration_register')}}"> {% trans %}Register{% endtrans %}</a>
    </li>
    <li>
    <a class="btn btn-success" href="{{path('fos_user_security_login')}}">{% trans %}Sign in{% endtrans %}</a>
    </li>
</ul>
</div><!--/.nav-collapse -->
